<nav class="rounded max-w-5xl mx-auto mt-8">
  <ul class="mx-8 my-4 p-0 list-none flex justify-end gap-6 text-xl font-bold">
    <li><a class="text-purple-600 dark:text-fuchsia-600 hover:text-fuchsia-500 dark:hover:text-purple-600 cursor-pointer no-underline" href="<%= relative_url '/' %>">Home</a></li>
    <li><a class="text-purple-600 dark:text-fuchsia-600 hover:text-fuchsia-500 dark:hover:text-purple-600 cursor-pointer no-underline" href="<%= relative_url '/about' %>">About Me</a></li>
    <li><a class="text-purple-600 dark:text-fuchsia-600 hover:text-fuchsia-500 dark:hover:text-purple-600 cursor-pointer no-underline" href="<%= relative_url '/projects' %>">Projects</a></li>
    <li><a class="text-purple-600 dark:text-fuchsia-600 hover:text-fuchsia-500 dark:hover:text-purple-600 cursor-pointer no-underline" href="<%= relative_url '/community' %>">Community</a></li>
  </ul>
</nav>
