<nav>
  <ul class="container">
    <li><a class="text-purple-600 dark:text-fuchsia-600 hover:text-fuchsia-500 dark:hover:text-purple-600 cursor-pointer" href="<%= relative_url '/' %>">Home</a></li>
    <li><a class="text-purple-600 dark:text-fuchsia-600 hover:text-fuchsia-500 dark:hover:text-purple-600 cursor-pointer" href="<%= relative_url '/about' %>">About Me</a></li>
    <li><a class="text-purple-600 dark:text-fuchsia-600 hover:text-fuchsia-500 dark:hover:text-purple-600 cursor-pointer" href="<%= relative_url '/projects' %>">Projects</a></li>
    <li><a class="text-purple-600 dark:text-fuchsia-600 hover:text-fuchsia-500 dark:hover:text-purple-600 cursor-pointer" href="<%= relative_url '/community' %>">Community</a></li>
  </ul>
</nav>
