<nav>
  <ul>
    <li><a href="<%= relative_url '/' %>">Home</a></li>
    <li><a href="<%= relative_url '/about' %>">About Me</a></li>
    <li><a href="<%= relative_url '/projects' %>">Projects</a></li>
    <li><a href="<%= relative_url '/community' %>">Community</a></li>
  </ul>
</nav>
